*{
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "section section section"
    "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 1fr auto;
    line-height: 1.5;
    max-width: 1600px;
    margin: auto;
    font-size: clamp(16px, 1.5vw, 30px);
}

header { grid-area: header; }
nav { grid-area: nav; }
section { grid-area: section; }
footer { grid-area: footer; }

header{
    text-align: center;
}


nav{
    background-color: rgb(158, 172, 172);
    padding: 10px;
    text-align: right;
    margin-bottom: 30px;
}

nav a{
    color: black;
    text-decoration: none;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section_view, #section_mod{
    padding: 20px;
    height: 50%;
    width: 50%;
}

#section_view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}


#section_view .view_right{
    margin: 20px;
    width: 200px;
    border-radius: 5px;
}
#section_view > div{
    padding: 10px;
}


form{
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}


