*{
    box-sizing: border-box;
}

body{
    background-color: #b5cce7;
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "section section section"
    "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 1fr auto;
    line-height: 1.5;
    max-width: 1600px;
    margin: auto;
    font-size: clamp(16px, 1.5vw, 30px);
}

header { grid-area: header; }
nav { grid-area: nav; }
section { grid-area: section; }
footer { grid-area: footer; }

header{
    width: 100%;
    background-color: #e49dae;
    text-align: center;
    margin: auto;
    padding: 20px;
}

#header_title{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(207, 52, 99);
    text-decoration: none;
}


nav{
    background-color: #604b63;
    padding: 10px 40px;
    text-align: right;
    margin-bottom: 30px;
}

nav a{
    color: white;
    text-decoration: none;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

#section_top, #section_bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 1200px;
}


.mod_text{
    font-size: 15px;
    padding: 10px;
}

#auto_div{
    padding: 40px 0 10px 0;
}

#confirm_div{
    padding: 10px 0 40px 0;
}

#main_top > div{
    margin: 20px 0;
}

.main_top_data{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#main_top_title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

form{
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}


#main_top{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    display: none;
}

#main_bottom{
    width: 50%;
    display: none;
}

#main_top.main_hidden, #main_bottom.main_hidden{
    display: block;
}

hr{
    border: none;       /* 기본 테두리 제거 */
    height: 5px;        /* 선의 굵기 (원하는 수치로 조절) */
    background-color: #b5cce7;
}

#connected_device_title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#connected_device{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.device_state{
    text-align: center;
}


#login:hover {
    color: blueviolet;
    font-weight: bold;
}

#login_top, #login_bottom{
    display: block;
}

#login_top{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    width: 50%;
}
#login_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
}
span{
    padding: 10px;
}

.triangle_top{
    
}
.triangle_bottom{
    
}

#login_top.login_hidden, #login_bottom.login_hidden{
    display: none;
}

#login_top > div > *{
    padding: 5px 20px;
}

#title_login, #signup_title{
    font-size: 30px;
    font-weight: bold;
}

.login_bottom_btn button{
    padding: 5px 10px;
    border-radius: 10px;
}

#login_btn:hover, #signup_btn:hover{
    background-color: rgb(137, 187, 96);
    padding: 10px 20px;
    color: blueviolet;
    font-weight: bold;
}

#signup_title{
    text-align: center;
}

.signup_info_title{
    font-weight: bold;
    margin-bottom: 10px;
}

.signup_input{
    width: 100%;
    margin-left: auto;
}

#signup_top{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 50%;
    gap: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

#signup_register:hover{
    background-color: rgb(137, 187, 96);
    padding: 10px 20px;
    color: blueviolet;
    font-weight: bold;
}

#signup_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
}

#signup_top.signup_hidden, #signup_bottom.signup_hidden{
    display: none;
}