*{
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "section section section"
    "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 1fr auto;
    line-height: 1.5;
    max-width: 1600px;
    margin: auto;
    font-size: clamp(16px, 1.5vw, 30px);
}

header { grid-area: header; }
nav { grid-area: nav; }
section { grid-area: section; }
footer { grid-area: footer; }

header{
    text-align: center;
    margin: auto;
    padding: 20px;
}

#header_title{
    font-size: 3rem;
    color: black;
    text-decoration: none;
}


nav{
    background-color: rgb(158, 172, 172);
    padding: 10px 40px;
    text-align: right;
    margin-bottom: 30px;
}

nav a{
    color: black;
    text-decoration: none;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#section_top, #section_bottom{
    margin: 20px;
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#section_top .top_right{
    margin-left: 40px;
    border-radius: 5px;
}

#main_top > div{
    height: auto;
    margin: 40px 0;
    padding: 20px 40px;
    text-align: center;
}

form{
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}


#main_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    display: none;
}

#main_bottom{
    width: 50%;
    display: none;
}

#main_top.main_hidden, #main_bottom.main_hidden{
    display: block;
}


#login:hover {
    color: blueviolet;
    font-weight: bold;
}

#login_top, #login_bottom{
    display: block;
}

#login_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    width: 50%;
}
#login_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
}
span{
    padding: 10px;
}

#login_top.login_hidden{
    display: none;
}

#login_top > div > *{
    padding: 5px 20px;
}



#login_bottom.login_hidden{
    display: none;
}

.login_bottom_btn button{
    padding: 5px 10px;
    border-radius: 10px;
}

#login_btn:hover, #signup_btn:hover{
    background-color: rgb(137, 187, 96);
    padding: 10px 20px;
    color: blueviolet;
    font-weight: bold;
}

#signup_top, #signup_bottom{
    display: block;
    background-color: red;
}

#signup_top.signup_hidden, #signup_bottom.signup_hidden{
    display: none;
}